@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary-50: #f8f9fa;
    --color-primary-100: #f1f3f4;
    --color-primary-200: #e8eaed;
    --color-primary-300: #dadce0;
    --color-primary-400: #bdc1c6;
    --color-primary-500: #000000;
    --color-primary-600: #5f6368;
    --color-primary-700: #3c4043;
    --color-primary-800: #202124;
    --color-primary-900: #000000;
    --color-primary-950: #000000;
    
    --color-secondary-50: #ffffff;
    --color-secondary-100: #fafafa;
    --color-secondary-200: #f5f5f5;
    --color-secondary-300: #f0f0f0;
    --color-secondary-400: #e5e5e5;
    --color-secondary-500: #d4d4d4;
    --color-secondary-600: #a3a3a3;
    --color-secondary-700: #737373;
    --color-secondary-800: #525252;
    --color-secondary-900: #404040;
    --color-secondary-950: #262626;
    
    --color-gray-50: #ffffff;
    --color-gray-100: #f8f9fa;
    --color-gray-200: #e8eaed;
    --color-gray-300: #dadce0;
    --color-gray-400: #bdc1c6;
    --color-gray-500: #9aa0a6;
    --color-gray-600: #5f6368;
    --color-gray-700: #3c4043;
    --color-gray-800: #202124;
    --color-gray-900: #000000;
    --color-gray-950: #000000;
}

@layer components {
    .round-btn {
        @apply w-9 h-9 overflow-auto rounded-full bg-slate-100 focus:outline-none focus:ring-1 focus:ring-slate-100 focus:ring-offset-2 focus:ring-offset-slate-800;
    }
    .nav-link {
        @apply active:bg-slate-900 hover:bg-white/15 text-slate-100 px-3 py-1 rounded-lg text-lg;
    }
    .title {
        @apply text-3xl mb-4 font-bold;
    }
    .btn {
        @apply relative enabled:bg-slate-800 enabled:active:bg-slate-900 enabled:hover:bg-slate-700 p-2 rounded-md text-white block w-full disabled:bg-slate-500 disabled:cursor-wait;
    }
    .error {
        @apply text-xs text-red-700 mt-px;
    }
    .input {
        @apply block w-full p-2 rounded-md ring-1 ring-slate-600 focus:ring-slate-900 focus:ring-2 outline-0 border-0 mt-1 text-black bg-slate-200;
    }
    label {
        @apply text-sm text-slate-800;
    }
    .card {
        @apply bg-[#ff640a] p-6 rounded-lg shadow-lg shadow-orange-800;
    }
    .username {
        @apply py-2 pl-4 border-b border-slate-900 text-base text-slate-900 font-light;
    }
}

.form-label {
    color: #5f6368;
}
